body {
  margin: 0;
}

header {
  /* background: linear-gradient(to top, #FFFFFF 0%, #bedffb 0%, #73baf5 50%, #387EC4 100%); */
  background: #f5ede0;
  padding: 0 10px;
}

.nav-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 75px;
  margin-inline-end: 50px;
}

nav li a {
  text-decoration: none;
  color: #000;
}

.btn {
  background-color: #fa4300;
  color: #fffafa;
  padding: 12px 20px;
  border-radius: 20px;
  border-style: hidden;
  z-index: 3;
  margin-right: 50px;
}

.btn:hover {
  background-color: #b73100;
  color: #fffafa;
  padding: 12px 20px;
  border-radius: 20px;
  border-style: hidden;
  font-weight: bold;
}

.nav-1 img {
  width: auto;
  height: 125px;
  margin-top: 10px;
  margin-left: 50px;
}

.nav-2-desc-1 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-size: contain;
  height: 600px;
  padding-top: 100px;
}

.nav-2-desc-1 .desc1 span {
  /* color: #FFFFFF; */
  color: #000;
  display: block;
  font-size: 48px;
  margin-left: 60px;
}
.nav-2-desc-1 .desc2 span {
  /* font-size: 28px; */
  display: block;
  font-size: 24px;
  color: #333;
  margin-left: 60px;
}

.nav-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-2-desc-2 img {
  /* height: 550px;
    width: auto; */
  width: 500px;
  height: auto;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  margin-left: 100px;
  margin-bottom: 30px;
}

.triangle {
  position: absolute;
  top: 30%;
  right: 10%;
  transform: translateX(50%) rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 350px solid transparent;
  border-right: 350px solid transparent;
  border-bottom: 300px solid #fa4300;
  z-index: 1;
}

.sec-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 10px;
  flex-direction: row-reverse;
}
.sec-1-desc-1 {
  /* margin-left: 500px; */
  max-width: 40%;
}
.about-us-1 .span-1 {
  color: #000;
  font-weight: bolder;
  font-size: 35px;
}
.about-us-1 .span-2 {
  color: #fa4300;
  font-weight: bolder;
  font-size: 35px;
}
.sec-1-desc-2 {
  display: flex;
  justify-content: space-around;
}
.about-us-2 span {
  display: block;
  color: #9b9999;
  font-size: 14px;
  line-height: 1.5;
}
/* Button Order Now */
.btn2 {
  background-color: #fa4300;
  color: #fffafa;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(250, 67, 0, 0.3);
  transition: all 0.3s;
  transform: skewX(-20deg);
}
.btn2:hover {
  background-color: #cc3600;
  box-shadow: 2px 2px 10px rgba(250, 67, 0, 0.5);
}

/* Image positioning */
.about-us-3,
.about-us-4 {
  position: relative;
  display: flex;
}

.about-us-3 img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-left: -100px;
  margin-right: 0;
  z-index: 2;
  margin-top: 200px;
}

.about-us-4 img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  z-index: 1;
  margin-left: 0;
  margin-right: -100px;
}
.sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5ede0;
}
.sec-2-desc-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  /* background-color: #F5EDE0; */
}
.desc-order-1 {
  padding: 40px 60px;
  font-weight: 500;
  /* background-color: #F5EDE0; */
}
.desc-delivery-1 {
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}
.desc-delivery-2 {
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}
.desc-delivery-3 {
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
}
.desc-delivery-4 {
  display: flex;
  justify-content: space-around;
  color: #ff6d38;
  font-weight: bolder;
}
.desc-order-1 img {
  margin: auto;
  width: auto;
  height: 125px;
}
.desc-menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.desc-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.btn3{
    color: #000;
    border-radius: 10px;
    border-style: solid;
}
.btn3:hover{
    color: #fffafa;
  background-color: #fa4300;
  border-style: hidden;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: 50px;
  /* background-color: #fa4300; */
}
.menu-food{
  padding: 20px;
  border-style:groove;
  /* box-shadow: 2px 2px 10px rgba(250, 67, 0, 0.5); */

}
.menu-drink{
  padding: 20px;
  border-style:groove;
  /* box-shadow: 2px 2px 10px rgba(250, 67, 0, 0.5); */

}
.menu-snack{
  padding: 20px;
  border-style:groove;
  /* box-shadow: 2px 2px 10px rgba(250, 67, 0, 0.5); */

}
.sec-4{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-image: url(promo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.desc-promo{
  display: flex;
  flex-direction: row;
}
.promo{
  display: flex;
  flex-direction: column;
  color: #fffafa;
}
.promotion{
  display: flex;
  flex-direction: row;
  color: #fffafa;
}
.btn4 {
  display: flex;
  justify-content: center;
  background-color: #fa4300;
  color: #fffafa;
  padding: 12px 20px;
  border-radius: 20px;
  border-style: hidden;
  z-index: 3;
  margin-right: 50px;
}

.btn4:hover {
  background-color: #b73100;
  color: #fffafa;
  padding: 12px 20px;
  border-radius: 20px;
  border-style: hidden;
  font-weight: bold;
}
